<h1>Register Account</h1>

<form>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your username" >
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter your password">
    </div>
    <br>
    <button (click)="gettoken()" type="button">Register</button>
</form>
<br>
<a href="#" routerLink="/login">Already have an account? Login now!</a>